<style type="text/css">
	* {
	    box-sizing: border-box;
	}

	/* Create three columns of equal width */
	.columns {
	    float: left;
	    width: 25%;
	    padding: 8px;
	}

	/* Style the list */
	.price {
	    list-style-type: none;
	    border: 1px solid #eee;
	    margin: 0;
	    padding: 0;
	    -webkit-transition: 0.3s;
	    transition: 0.3s;
	}

	/* Add shadows on hover */
	.price:hover {
	    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
	}

	/* Pricing header */
	.price .header {
	    background-color: #eee;
	    font-size: 25px;
	}

	/* List items */
	.price li {
	    border-bottom: 1px solid #eee;
	    padding: 20px;
	    text-align: center;
	    background-color: #eee;
	}

	/* Light Grey list item */
	.price .light-grey {
	    background-color: #D3D3D3;
	    font-size: 20px;
	}

	/* Dark Grey list item */
	.price .dark-grey {
	    background-color: #A9A9A9;
	    font-size: 20px;
	}

	/* The "Buy Now" button */
	.button {
	    background-color: #4CAF50;
	    border: none;
	    color: black;
	    padding: 10px 25px;
	    text-align: center;
	    text-decoration: none;
	    font-size: 18px;
	}

	.button .light-grey{
		background-color: #D3D3D3;
	}

	/* Change the width of the three columns to 100% 
	(to stack horizontally on small screens) */
	@media only screen and (max-width: 600px) {
	    .columns {
	        width: 100%;
	    }
	}
</style>
<div id="home-kickstarter" class="index-section home-kickstarter" data-section-id="{{ section.id }}" data-section-type="home-kickstarter" style="background-color: #457EB6">

	<div class="home-kickstarter">

		{% if section.settings.home-kickstarter-bg != blank %}
		  <span class="prlx-bg" style="background-image: url({{ section.settings.home-kickstarter-bg | img_url: '1024x' }})">
			  <img src="{{ section.settings.home-kickstarter-bg | img_url: '1024x' }}" alt="{{ section.settings.home-kickstarter-title | escape }}" />
		  </span>
		{% endif %}

		<div class="wrapper wrapper--margins">

			<div class="kickstarter__content {% unless section.settings.home-kickstarter-bg %} text-center {% endunless %}">

				{% unless section.settings.home-kickstarter-title == blank %}
				  <h2>{{ section.settings.home-kickstarter-title | escape }}</h2>
				{% endunless %}

				{% unless section.settings.home-kickstarter-subtitle == blank %}
				  <h3>{{ section.settings.home-kickstarter-subtitle | escape }}</h3>
				{% endunless %}


				<br><br>
				{% if section.settings.home-kickstarter-url != blank %}
				<a href="{{ section.settings.home-kickstarter-url | escape }}" class="btn btn--regular btn--dark btn--outline">Get Started</a>
				{% endif %}

			</div>
		</div>
	</div>
</div>
<div align="middle" style="background-color:#FFF">
	{{ 'img1.png' | asset_url | img_tag }}
</div>

<div align="middle" class="text-center" style="padding-top: 80px; padding-bottom: 30px">
	<h3>Select a Hiring Snapshot Plan</h3>
	<h5 style="font-weight: normal;">Try out the Topgrading Hiring Snapshot with as many candidates</h5>
	<h5 style="font-weight: normal;">as you need. Add more candidates at any time.</h5>
</div>
<div style="height: 620px">
<div class="columns">
  <ul class="price">
    <li class="header">Lite</li>
    <li class="light-grey">$ 250 <small>$25 / candidate</small></li>
    <li>10 candidate invitations</li>
    <li>Standard screening questions</li>
    <li>Topgrading Snapshot & career history for each candidate</li>
    <li>.</li>
    <li>.</li>
    <li><a href="/collections/all" class="button light-grey">Buy Now</a></li>
  </ul>
</div>
<div class="columns">
  <ul class="price">
    <li class="header">Basic</li>
    <li class="light-grey">$ 400 <small>$20 / candidate</small></li>
    <li>20 candidate invitations</li>
    <li>Standard screening questions</li>
    <li>Topgrading Snapshot & career history for each candidate</li>
    <li>.</li>
    <li>Save 20% </li>
    <li><a href="#" class="button light-grey">Buy Now</a></li>
  </ul>
</div>
<div class="columns">
  <ul class="price">
    <li class="header">Standard</li>
    <li class="light-grey">$ 450 <small>$15 / candidate</small></li>
    <li>30 candidate invitations</li>
    <li>Standard screening questions</li>
    <li>Topgrading Snapshot & career history for each candidate</li>
    <li>.</li>
    <li>Save 40% </li>
    <li><a href="#" class="button light-grey">Buy Now</a></li>
  </ul>
</div>
<div class="columns">
  <ul class="price">
    <li class="header">Pro</li>
    <li class="light-grey">Starting at $1,500</li>
    <li>Unlimited candidates</li>
    <li>Custom screening questions</li>
    <li>Topgrading Snapshot & career history for each candidate</li>
    <li>Auto-populated interview guides</li>
    <li>ATS integrations</li>
    <li><a href="#" class="button light-grey">Buy Now</a></li>
  </ul>
</div>
</div>

<!-- <div align="middle" style="height: 650px">
	<div style="background-color: #d9d9d9; height: 600px; width: 22.1%; margin-left: 2.22766%; float: left; display: block;">
		<p><h2>Lite</h2></p>
		<div style="background-color: #f5f5f0;margin-top: 2.22766%;  height: 15%;">
			<h3 style="padding-top: 7.5%">$250$25 / candidate</h3>
		</div>
		<div align="left" style="font-size: 150%; font-weight: normal;">
			<li>
				<ul>10 candidate invitations</ul>
				<ul>Standard screening questions</ul>
				<ul>Topgrading snapshot & career history for each candidate</ul>
			</li>
		</div>
	</div>
	<div style="background-color: #d9d9d9; height: 600px; width: 22.1%; margin-left: 2.12766%; float: left; display: block;">
		
	</div>
	<div style="background-color: #d9d9d9; height: 600px; width: 22.1%; margin-left: 2.12766%; float: left; display: block;">
		
	</div>
	<div style="background-color: #d9d9d9; height: 600px; width: 22.1%; margin-left: 2.12766%; float: left; display: block;">
		
	</div>
</div> -->

<div style="background-color:#FFF; height: 301px; border-style: solid;  border-bottom: solid #d9d9d9">
	<div align="left" style="margin-left: 2.12766%; height: 300px; float: left; display: block">
		{{ 'img2.png' | asset_url | img_tag }}
	</div>
	<div style="height: 300px; width: 67%; margin-left: 0%; margin-right: 6%; float: left; display: block;background-color:#FFF" class="text-center">
			<br>
			<p><h3>Hire smarter with Topgrading</h3></p>
			<p><h5 style="font-weight: normal">“The Hiring Snapshot is amazing!  It includes the Topgrading “truth serum,” and takes almost zero time to use.  Before even talking with a candidate you can know if they are a job hopper, their full salary history, how every boss would rate their overall performance and the real reasons they left employers.”</h5></p>
			<p><h4 style="padding-left: 0px; font-weight: normal">- Scott Clawson, CEO of Culligan</h4></p>
	</div>
</div>

<div style="height: 60px;" class="text-center" >
	<p><h3>Benefits of the Hiring Snapshot</h3></p>
</div>
<div align="middle" style="height: 500px">
	<div align="left" style="margin-left: 2.12766%; height: 205px; float: left; display: block">
		{{ 'img3.png' | asset_url | img_tag }}
	</div>
	<div align="right" style="margin-left: 2.12766%; height: 205px; float: left; display: block">
		{{ 'img4.png' | asset_url | img_tag }}
	</div>
	<div align="left" style="margin-left: 4.12766%; height: 265px; float: left; display: block">
		{{ 'img5.png' | asset_url | img_tag }}
	</div>
	<div align="right" style="margin-left: 4.12766%; height: 265px; float: left; display: block">
		{{ 'img6.png' | asset_url | img_tag }}
		<br>
		<br>
		<h5>
		<a href="/" style="margin-right: 13%"">Watch our interview best practices webinar</a></h5>
	</div>
</div>
<div align="middle">
	<a href="/" style="height: 50px; width: 200px; background-color: #d9d9d9" class="btn btn--regular btn--outline">Try it Now</a>
</div>
<div style="height: 350px; background-color: #d9d9d9; margin-top: 40px" class="text-center">
	<h3 style="padding-top: 30px">Start hiring better with Topgrading</h3>
	<br>
	<h4 style="font-weight: normal;">Topgrading is the most proven & effective hiring method.  Get our <a href="/">free eGuide: Topgrading401</a></h4>
	<br><br><br><br>
	<div>
		<div align="left" style="margin-left: 8.12766%; float: left; display: block"><h4 style="font-weight: normal;">Talk with a Topgrading expert about in-depth interview training</h4></div>
		<div align="right" style="margin-right: 10%"><h4>(847) 244-5544  ·  sales@topgrading.com</h4></div>
	</div>
</div>
