<div style="height: 180px; background-color: #d9d9d9;" class="text-center">
	<div align="left" style="padding-top: 7.5%; margin-left: 8.12766%; float: left; display: block">
		<h3>Webinar</h3>
		<h4 style="font-weight: normal;">Interview Best Practices</h4>
	</div>
	<div align="right" style="padding-top: 7.5%; margin-left: 30%; float: left; display: block">
		<h4 style="margin-left: 5%; margin-top: 4%;">$250</h4>
		<h5>+ 3 free starter interview guides</h5>
	</div>
	<div align="left" style="padding-top: 7.5%; margin-left: 1%; float: left; display: block">
		<a href="{{ section.settings.home-kickstarter-url | escape }}" class="btn btn--regular btn--dark btn--outline" style="margin-top: 5%; margin-right: 0%;">Buy the Webinar</a>		
	</div>
</div>
<div style="margin-top: 3%; border-bottom: 1.3px solid #d9d9d9; height: 900px">
	<div align="left" style="float: left; margin-left: 2%">
			{{ 'img10.png' | asset_url | img_tag }}
	</div>
	<div align="left" style="float: left; margin-left: 4%; margin-top: 1%; padding-bottom: 3%">
		<div style="margin-bottom: 4%; border-bottom: 1.3px solid #d9d9d9;">
			<h3>Interview Best Practices Webinar</h3>
			<h4 style="font-weight: normal;">Learn the world’s best interviewing methods and double</h4>
			<h4 style="font-weight: normal;">your success rate in hiring. </h4>
			<br>
			<h4>In this webinar you’ll learn:</h4>
			<ul>
				<li>The best interviewing techniques for Phone Screen and Reference Check interviews</li>
				<li>How to identify high performers with an in-depth Topgrading Interview</li>
				<li>Proven methods that increase your hiring success and avoid costly mis-hires</li>
			</ul>
		</div>
		<div style="padding-top: 2%; margin-bottom: 4%; border-bottom: 1.3px solid #d9d9d9;">
			<div align="left" style="float: left;">
				<h3>$250</h3>
			</div>
			<div align="left" style="float: left; margin-left: 3%; margin-bottom: 5%">
				<h5 style="font-weight: normal;">One-hour webinar and <b>3 FREE starter interview guides:</b></h5>
				<h5 style="font-weight: normal;">Phone Screen, Topgrading Interview, and Reference Check</h5>
			</div>
			<h5 style="font-weight: normal;">Watch the webinar and improve your interview skills today.</h5>			
		</div>
		<div style="padding-top: 2%; margin-bottom: 4%; height: 120px; border-bottom: 1.3px solid #d9d9d9;">
			<div align="left" style="float: left; margin-left: 2%">
				{{ 'img11.png' | asset_url | img_tag }}
			</div>
			<div align="left" style="float: left; margin-left: 4%; margin-top: 4%">
				<h4>Firstname Lastname</h4>
				<h4 style="font-weight: normal;">Director at Topgrading, </h4>
			</div>
		</div>
		<div>
			<h4>Details</h4>
			<ul>
				<li>Access the webinar for 2 weeks from date of purchase</li>
				<li>Watch the webinar as many times as you want</li>
				<li>Starter interview guides will be emailed to you after your purchase</li>
				<li>All sales final</li>
			</ul>
			<a href="{{ section.settings.home-kickstarter-url | escape }}" class="btn btn--regular btn--dark btn--outline" style="margin-top: 5%; margin-right: 0%;">Buy the Webinar</a>
		</div>
	</div>
</div>
<div class="text-center" style="margin-top: 5%; height: 275px;">
	<h2>Try the Topgrading Hiring Snapshot</h2>
	<h3 style="font-weight: normal;">Get accurate & insightful info to screen candidates.</h3>
	<a href="{{ section.settings.home-kickstarter-url | escape }}" class="btn btn--regular btn--dark btn--outline" style="margin-top: 5%">Get Started</a>
</div>
<div style="height: 150px; background-color: #d9d9d9;" class="text-center">
	<div align="left" style="padding-top: 5%; margin-left: 8.12766%; float: left; display: block"><h4 style="font-weight: normal;">Talk with a Topgrading expert about in-depth interview training</h4></div>
	<div align="right" style="padding-top: 5%; margin-right: 10%"><h4>(847) 244-5544  ·  sales@topgrading.com</h4></div>
</div>